<div class="body-bg">
	<div class="content">
		<div class="row company-profile">
			<div class="col-md-2 company-logo">
				<a href="#">
					<img src="assets/images/Logo.png"/>
				</a>
			</div>
			<div class="col-md-10">
				<h3 class="company-name">
					<strong>Startup Company</strong>
				</h3>
				<p class="company-detail">
					Startup fdf dfdfd dfd fdfddvxcv  dfdf sdsdf .
				</p>
				<button type="button" class="btn btn-success btn-lg">
					Send Detail
				</button>
			</div>
		</div>
		<div class="detail-section">
			<dl>
				<dt>company rules</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				</dd>
			</dl>
			<dl>
				<dt>Rewards</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				</dd>
			</dl>
		</div>
	</div>
</div>