<div class="home1-page-banner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="assets/images/img1.jpg" alt="img1">
        </div>

        <div class="item">
          <img src="assets/images/img2.jpg" alt="img2">
        </div>

        <div class="item">
          <img src="assets/images/img3.jpg" alt="img3">
        </div>

        <div class="item">
          <img src="assets/images/img2.jpg" alt="img4">
        </div>
      </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="what-we-do">
        <div class="row" id="whatwedo">
            <div class ="text-center">
                <h3 class="intro-text">What we do??</h3>
            </div>
        </div>
        <div class="row wwd-section">
            <div class="col-sm-4 item text-center">
                <div class="row">
                    <img src="assets/images/Run Bug bounty program.png" alt="" align="middle">
                </div>
                <div class="row title" style="margin-top:25px;">
                    <span class="caption"><b>Lorem ipsum dolor sit amet, </br>
                        iLorem ipsum dolor sit amet</b></span>
                </div>
                <div class="row short-desc" style="margin-top:25px;">
                    <span class="caption">
                        Lorem ipsum dolor sit amet,<br/> consectetur adipiscing <br/> elit. Integer posuere erat a ante.<br/> Lorem ipsum dolor sit amet, <br/>consectetur adipiscing elit. 
                    </span>
                </div>
            </div>
            <div class="col-sm-4 item text-center">
                <div class="row">
                    <img src="assets/images/security.png"  alt="" align="middle">
                </div>
                <div class="row title">
                    <span class="caption"><b>
                        Lorem ipsum dolor sit amet, </br>
                        iLorem ipsum dolor sit amet
                    </b></span>
                </div>
                <div class="row short-desc">
                    <span class="caption">
                        Lorem ipsum dolor sit amet, <br/>consectetur adipiscing <br/> elit. Integer posuere erat a ante.<br/> Lorem ipsum dolor sit amet, <br/>consectetur adipiscing elit. 
                    </span>
                </div>
            </div>
            <div class="col-sm-4 item text-center">
                <div class="row">
                    <img src="assets/images/manage.png"  alt="" align="middle">
                </div>
                <div class="row title">
                    <span class="caption"><b>
                        Lorem ipsum dolor sit amet, </br>
                        iLorem ipsum dolor sit amet
                    </b></span>
                </div>
                <div class="row short-desc">
                    <span class="caption">
                        Lorem ipsum dolor sit amet, <br/>consectetur adipiscing <br/> elit. Integer posuere erat a ante.<br/> Lorem ipsum dolor sit amet, <br/>consectetur adipiscing elit.
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" id="whyus">
            <div class ="text-center">
                <h3 class="intro-text">Why Us ?</h3>
            </div>
        </div>
        <div class="row wwd-section">
            <div class="col-sm-4 item text-center">
                <div class="row">
                    <img src="assets/images/Bug bounty programs.png" alt="" align="middle">
                </div>
                <div class="row title">
                    <span class="caption"><b>Lorem ipsum dolor sit amet, </br>
                        iLorem ipsum dolor sit amet</b></span>
                </div>
                <div class="row short-desc">
                    <span class="caption">
                        Lorem ipsum dolor sit amet, <br/>consectetur adipiscing <br/> elit. Integer posuere erat a ante.<br/> Lorem ipsum dolor sit amet, <br/>consectetur adipiscing elit. 
                    </span>
                </div>
            </div>
            <div class="col-sm-4 item text-center">
                <div class="row">
                    <img src="assets/images/business grow.png"  alt="" align="middle">
                </div>
                <div class="row title">
                    <span class="caption"><b>
                        Lorem ipsum dolor sit amet, </br>
                        iLorem ipsum dolor sit amet
                    </b></span>
                </div>
                <div class="row short-desc">
                    <span class="caption">
                        Lorem ipsum dolor sit amet, <br/>consectetur adipiscing <br/> elit. Integer posuere erat a ante.<br/> Lorem ipsum dolor sit amet, <br/>consectetur adipiscing elit.
                    </span>
                </div>
            </div>
            <div class="col-sm-4 item text-center">
                <div class="row">
                    <img src="assets/images/office.png"  alt="" align="middle">
                </div>
                <div class="row title">
                    <span class="caption"><b>
                        Lorem ipsum dolor sit amet, </br>
                        iLorem ipsum dolor sit amet
                    </b></span>
                </div>
                <div class="row short-desc">
                    <span class="caption">
                        Lorem ipsum dolor sit amet,<br/> consectetur adipiscing <br/> elit. Integer posuere erat a ante.<br/> Lorem ipsum dolor sit amet, <br/>consectetur adipiscing elit. 
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" id="aboutus">
            <div class ="text-center">
                <h3 class="intro-text" >About Us</h3>
            </div>
        </div>
        <div class="row text-center about-us">
           <span class="caption item"  style= "text-align: center;">
                Lorem ipsum dolor sit amet, consectetur adipiscing <br/> elit. Integer posuere erat a ante.<br/> Lorem ipsum dolor sit amet,<br/> consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing <br/> elit. Integer posuere erat a ante.<br/> Lorem ipsum dolor sit amet,<br/> consectetur adipiscing elit.
            </span>
        </div>
</div>
<div class="home-page-footer">
    <div class="footer-title">
        <h3>
            Lorem ipsum sdfsd fsdfsd fdfdfsd dsfdsf ff <br/> fdd dfdf
        </h3>
    </div>
	<div class="overlay text-center">
		<button type="button" class="login-btn" data-toggle="modal" data-target="#logIn">Log in</button>
		<button type="button" class="signup-btn" data-toggle="modal" data-target="#signUp">Sign up</button>
    </div>
</div>
<div class="modal" id="signUp" ng-controller="SignUpController">
	<div class="modal-dialog">
	    <div class="modal-content" >
	        <div class="modal-header">
	            <h4>Sign Up</h4>
	            <div class="tabbable"> 
    	            <ul class="nav nav-tabs">
    	                <li class="col-md-6" ng-class="{active:'tab1' == currentTab}" 
                    ng-click="onClickTab('tab1')">
                            <a>As a College</a>
                        </li>
    	                <li class="col-md-6" ng-class="{active:'tab2' == currentTab}" 
                    ng-click="onClickTab('tab2')">
                            <a>As a Company</a>
                        </li>
    	            </ul>
    	            <div class="tab-contents">
    	                <div class="tab-pane" id="tab1" ng-show="'tab1' == currentTab">
    	                    <form role="form" name="asResearcher" id="as-researcher" ng-submit='isSignupAsResearch()'>
    	                        <div class="form-group">
    	                            <input type="text" ng-model="asResearcher.name" class="form-control" id="name" placeholder="Name" required/>
    	                        </div>
    	                        <div class="form-group">
    	                            <input type="text" ng-model="asResearcher.username" class="form-control" id="username" placeholder="User Name" required />
    	                        </div>
    	                        <div class="form-group">
    	                            <input type="email" ng-model="asResearcher.email" class="form-control" id="email" placeholder="Email" required />
    	                        </div>
    	                        <div class="form-group">
    	                          <input type="password" ng-model="asResearcher.password" class="form-control" id="password" placeholder="Password" required />
    	                        </div>
                                <input type="hidden" ng-model="asResearcher.ethical_hacker" value="ethical_hacker"/>
    	                        <button type="submit" form="as-researcher" class="login-btn" >Sign up</button>
    	                        <div class="signup-text text-center">By clicking Sign Up, you agree to TestCompany <a href="#"> Terms of Use</a> and <a href="#">Privacy Policy.</a>
                                </div>
    	                    </form>
    	                </div>
    	                <div class="tab-pane" id="tab2" ng-show="'tab2' == currentTab">
    	                    <form role="form" name="asCompany" id="as-company" ng-submit='isSignupAsCompany()'>
    	                        <div class="form-group">
    	                            <input type="text" ng-model="asCompany.name" class="form-control" id="name" placeholder="Company Name" required />
    	                        </div>
    	                        <div class="form-group">
    	                            <input type="email" ng-model="asCompany.email" class="form-control" id="email" placeholder="Email" required />
    	                        </div>
    	                        <div class="form-group">
    	                          <input type="password" ng-model="asCompany.password" class="form-control" id="password" placeholder="Password" required />
    	                        </div>
                                <input type="hidden" ng-model="asCompany.program_member" value="program_member"/>
    	                        <button type="submit" form="as-company" class="login-btn" >Sign up</button>
    	                        <div class="signup-text text-center">
                                    By clicking Sign Up, you agree to TestCompany
                                    <a href="#"> Terms of Use</a> and <a href="#">Privacy Policy.</a>
                                </div>
    	                    </form>
    	                </div>
    	            </div>
	        </div>
	    </div>
	        <div class="modal-footer text-center">
	            Already have a TestCompany account? <a href="#">Login</a>
	         </div>
	    </div>
	</div>
</div>

<div class="modal" id="logIn">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-body">
              <h4>Login</h4>
                <form role="form" name="loginForm" id="login-form" ng-submit='isLogedin()'>
                    <div class="form-group">
                        <input type="email" ng-model="loginForm.email" class="form-control" id="email" placeholder="Email" required/>
                    </div>
                    <div class="form-group">
                      <input type="password" ng-model="loginForm.password" class="form-control" id="password" placeholder="Password" required/>
                    </div>
                    <button type="submit" class="login-btn" form="login-form">Login</button>
                </form>
            </div>
            <div class="modal-footer text-center">
              Don't have account sign up as a <a href="#">Reseacher</a> or <a href="#">Company</a>
            </div>
        </div>
    </div>
</div>