<div class="reports-section">
	<div class="navbar navbar-default program-navbar" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<h3 class="col-md-3">Programs</h3>	
			<div class="search-from pull-right">
				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search reports" name="srch-term" id="srch-term">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="programs-detail">
		<div class="row program-section">
			<div class="col-md-2 program-img">
				<img src="assets/images/Logo.png"/>
			</div>
			<div class="col-md-10">
				<p class="program-title">
					<a href="#"><strong>OYO Rooms</strong></a>
				</p>
				<p class="program-description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				</p>
			</div>
		</div>
		<div class="row program-section">
			<div class="col-md-2 program-img">
				<img src="assets/images/Logo.png"/>
			</div>
			<div class="col-md-10">
				<p class="program-title">
					<a href="#"><strong>OYO Rooms</strong></a>
				</p>
				<p class="program-description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				</p>
			</div>
		</div>
		<div class="row program-section">
			<div class="col-md-2 program-img">
				<img src="assets/images/Logo.png"/>
			</div>
			<div class="col-md-10">
				<p class="program-title">
					<a href="#"><strong>OYO Rooms</strong></a>
				</p>
				<p class="program-description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				</p>
			</div>
		</div>
		<div class="no-more-program text-center">No More Program</div>
	</div>
</div>
