<div class="reports-section">
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a class="active" href="#">All</a></li>
				<li><a href="#">Open</a></li>
				<li><a href="#">Triaged</a></li>
				<li><a href="#">Resolved</a></li>
			</ul>	
			<div class="search-from pull-right">
				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search reports" name="srch-term" id="srch-term">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row reports-detail">
		<div class="col-md-4 reports-list-item">
			<div class="bug-list">
				<ul class="list-inline raise-bug odd">
					<li class="bug-check">
						<img src="assets/images/icon-for-resolved-report.png"/></li>
					<li class="bug-detail">
						<h5><strong>Lorem fsfsf sfs sfsfs fsffsf</strong></h5>
						<p>Twitter</p>
					</li>
					<li class="bug-time">
						Today, 2pm
					</li>
				</ul>
				<ul class="list-inline raise-bug even">
					<li class="bug-check"><img src="assets/images/icon-for-triaged-report.png"/></li>
					<li class="bug-detail">
						<h5><strong>Lorem fsfsf sfs sfsfs fsffsf</strong></h5>
						<p>Twitter</p>
					</li>
					<li class="bug-time">
						Today, 2pm
					</li>
				</ul>
				<ul class="list-inline raise-bug odd">
					<li class="bug-check"><img src="assets/images/icon-for-open-report.png"/></li>
					<li class="bug-detail">
						<h5><strong>Lorem fsfsf sfs sfsfs fsffsf</strong></h5>
						<p>Twitter</p>
					</li>
					<li class="bug-time">
						Today, 2pm
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8 full-detail-reports">
			<div class="report-head clearfix">
				<div class="pull-left clearfix">
					<div class="pull-left bug-icon">
						<img src="" />
					</div>
					<div class="pull-left bug-head">
						Twitter
					</div>
				</div>
				<div class="pull-right">
					<span class="text">Status: </span>
					<span class="status">Open</span>
				</div>
			</div>
			<div class="bug-heading clearfix">
				<h4 class="pull-left"><strong>Lorem ipsum dolor encrenf</strong></h4>
				<div class="pull-right">
					<div class="bug-date-time">
						<span>Wednesday, 13 May 2015</span>
						<span>2:00 PM</span>
					</div>
				</div>
			</div>
			<div class="bug-description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
			</div>
			<div class="bug-summary">
				<div class="chat-section">
					<div class="chat-table col-md-12">
						<div class="odd col-md-12">
							<div class="col-md-2">
								<div class="user-icon">KS</div>
							</div>
							<div class="col-md-8">
								<p class="username">
									<span class="name">Kamal Singh</span>
									<span class="chat-time">
										Yesterday at 2:04pm
									</span>
								</p>
								<div class="content">
									<p class="subject">
										Hi Twetter Team,
									</p>
									<p class="description">
										Lorem ipsum dolor sit amet, consecture fsfs ccc trwfvd ??
									</p>
								</div>
							</div>
						</div>
						<div class="even col-md-12">
							<div class="col-md-2">
								<div class="user-icon">KS</div>
							</div>
							<div class="col-md-10">
								<p class="username">
									<span class="name">Kamal Singh</span>
									<span class="chat-time">
										Yesterday at 2:04pm
									</span>
								</p>
								<div class="content">
									<p class="subject">
										Hi Twetter Team,
									</p>
									<p class="description">
										Lorem ipsum dolor sit amet, consecture fsfs ccc trwfvd ??
									</p>
								</div>
							</div>
						</div>
					</div>
					<form name="commentForm" class="comment-form row">
						<div class="comment-box">
							<div class="form-group col-md-12">
								<div class="col-md-2">
									<div class="user-icon">KS</div>
								</div>
								<div class="col-md-10">
									<textarea placeholder="Write a comment..." class="form-control" rows="5" id="about-you"></textarea>
								</div>
							</div>
							<div class="col-md-12 comment-form-btn clearfix">
								<div class="pull-left">
									<span class="text">
										Team member
									</span>
									<span class="plus">+</span>
								</div>
								<div class="pull-right clearfix">
									<button type="submit" class="pull-left spam-btn btn">Spam</button>
									<button type="submit" class="pull-left duplicate-btn btn">Duplicate</button>
									<button type="submit" class="pull-left close-btn btn">Close</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
